.container {
  max-width:  1440px;
  margin: 0 auto;
}

.post {
  display: flex;
  gap: 20px;
}

.post__main {
  display: flex;
  gap: 30px;
}

.post__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.header__post {
  display: flex;
  gap: 20px;
}

.photo {
  max-width: 100px;
  max-height: 100px;
}

.header {
  padding: 24px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header__text {
  margin: 0;
font-size: 35px;
font-weight: 700;
}

.filter {
  display: flex;
  gap: 5px;
  font-size: 20px;
  align-items: center;
}

.filter__node {
  font-size: 15px;
  color: #4a4adc;
}

.select__post {
  margin-bottom: 10px;
}
.card__post {
  margin: 5px;
}

.photo__text {
  margin: 0;
}

.ant-card-body {
  padding: 15px;
}

.photo__single {
  height: 150px;
  width: 150px;
}

.about {
  display: flex;
  flex-direction: column;
}

.title__about {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.text__about {
  font-size: 15px;
}